body{
    background:#eee;
}

.container{
    height: 250px;
    width: 400px;
    overflow: hidden;
    float: left;
    margin: 0 35px;
}


img{
    width: 100%;
    height: auto;
    margin: 5%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img:hover{
    -webkit-filter: none;
    filter: none;
}

p{
    font-family: Raleway;
    margin-left: 4%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: 24.75%;
    padding-bottom: 20px;
}



